<h2 class="mb-4">プロフィール編集</h2>

<%= render "devise/shared/error_messages" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="mb-3">
    <%= f.label :username, "ユーザー名（20文字以下）", class: "form-label" %>
    <%= f.text_field :username, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password, "新しいパスワード（変更する場合）", class: "form-label" %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "6文字以上で入力してください" %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, "パスワード確認", class: "form-label" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :current_password, "現在のパスワード（必須）", class: "form-label" %>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.submit "更新", class: "btn btn-primary w-100" %>
  </div>
<% end %>

<%= link_to "アカウント削除", registration_path(resource_name),
            data: { turbo_method: :delete, turbo_confirm: "本当にアカウントを削除しますか？" },
            class: "btn btn-danger w-100" %>

<%= link_to "ログアウト", destroy_user_session_path,
                      data: { turbo_method: :delete, turbo_confirm: "ログアウトしますか？" },
                      class: "nav-link" %>
<%= link_to "戻る", :back %>
