<h2 class="mb-4">新規会員登録</h2>

<%= render "devise/shared/error_messages" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="mb-3">
    <%= f.label :username, class: "form-label" %>
    <%= f.text_field :username, autofocus: true, class: "form-control", placeholder: "20文字以下" %>
  </div>

  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, class: "form-control", placeholder: "6文字以上" %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, class: "form-label" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.submit "登録する", class: "btn btn-success w-100" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
